.profile-img {
  margin:         0px auto;
  width:          128px;
  height:         128px;
  border-width:   4px;
  border-style:   solid;
  border-radius:  50%;
  border-color:   $red-color-dark;
  @include media-query($on-palm) {
    display: none;
  }
}


.ta-pane {
  margin-top:  #{$spacing-unit};
  float: right;
  width: -webkit-calc(80% - (#{$spacing-unit} / 2));
  width:         calc(80% - (#{$spacing-unit} / 2));
  @include media-query($on-palm) {
    margin-left:   0;
    margin-top:    (#{$spacing-unit} / 2);
    text-align:    left;
    width: -webkit-calc(70% - (#{$spacing-unit} / 2));
    width:         calc(70% - (#{$spacing-unit} / 2));
  }
}

.ta-list {
  width: -webkit-calc(95% - (#{$spacing-unit} / 2));
  width:         calc(95% - (#{$spacing-unit} / 2));  
  display:       inline-block;
}

.ta-namecard {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
  float:         left;
  margin-top:    #{$spacing-unit};
  display:       inline-block;
  text-align:    center;
  @include media-query($on-palm) {
    margin-top:    (#{$spacing-unit} / 2);
    text-align:    left;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

.ta-heading {
  margin-left: #{$spacing-unit};
  @include relative-font-size(1.25);
  font-weight:  400;
  @include media-query($on-palm) {
    margin-left:   0;
    margin-top:    (#{$spacing-unit} / 2);
    text-align:    left;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

.ta-name {
  overflow: hidden;
}

.instructor-pane {
  float: left;
  margin-top:     #{$spacing-unit};
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
  @include media-query($on-palm) {
    margin-left:   0;
    margin-top:    (#{$spacing-unit} / 2);
    text-align:    left;
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
  }
}

.instructor-heading {
  margin-left: #{$spacing-unit};
  @include relative-font-size(1.25);
  font-weight:  400;
  @include media-query($on-palm) {
    margin-left:   0;
    margin-top:    (#{$spacing-unit} / 2);
    text-align:    left;
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

.instructor-namecard {
  width: -webkit-calc(95% - (#{$spacing-unit} / 2));
  width:         calc(95% - (#{$spacing-unit} / 2));
  float:         left;
  margin-top:    #{$spacing-unit};
  display:       inline-block;
  text-align:    center;
  @include media-query($on-palm) {
    margin-left:   0;
    margin-top:    (#{$spacing-unit} / 2);
    text-align:    left;
    width: -webkit-calc(95% - (#{$spacing-unit} / 2));
    width:         calc(95% - (#{$spacing-unit} / 2));
  }
}

.title-line {
  background-color: #{$grey-color-light};
  background-image: -webkit-gradient(linear, left top, right top, from(#{$grey-color-light}), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, #{$grey-color-light}, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, #{$grey-color-light}, rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left,  #{$grey-color-light}, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left,   #{$grey-color-light}, rgba(0, 0, 0, 0));
  width: 100%;
  height: 1px;
  position: relative;
  background-color: transparent; /* add this line after the mixin call */
}